* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.container {
  padding: 120px 80px;
}

.banner-topo {
  background-image: url("https://tinyurl.com/pet-banner");
  background-position: center;
  background-size: cover;
}
.container-nome-logo {
  max-width: 250px;
  color: #3c184e;
}

.container-nome-logo img {
  width: 30px;
  margin-right: 5px;
}
.container-nome-logo .nome-pet-shop {
      font-size: 35px;
      margin: 0 0 5px 0;
}
.container-nome-logo .slogan {
        font-size: 14px;
        text-align: center;
        margin: 0;
}  
.container-titulo-topo {
  max-width: 1024px;
  border-radius: 10px;
  padding: 40px;
  margin: 70px auuto 0;
  background: #ffffffc4;

}
